<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#speakerregister-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="">Speaker Register</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="speakerregister-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a routerLink="/speakerlist" routerLinkActive="active">Speaker List</a></li>
                <li><a routerLink="/conferencemanagement" routerLinkActive="active">Conference Management</a></li>
                <li><a routerLink="/admin" routerLinkActive="active">Administration</a></li>
                <!--<li><a routerLink="[, { outlets: { 'contactus': ['compose'] } }]" routerLinkActive="active">Contact Us</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<router-outlet></router-outlet>
<!--<router-outlet name="contactus"></router-outlet>-->